header {
    position:sticky !important;
    top:0 !important;
    background-color:white !important;
    z-index:1;
}
header * {
    font-size:20px !important;
}
header li {
    padding-left:1rem;
    padding-right:1rem;
}
header #main-menu > li a {
    padding-bottom:1rem;
    display:inline-block;
}
header li a:any-link {
    text-decoration:none;
    text-transform:uppercase;
    color:#000;
}
header .menu-item-has-children:hover > .sub-menu {
    display:block !important;
}
header .menu-item-has-children > a {
    display:none !important;
}
header .sub-menu {
    list-style-type:none;
    padding:0;
}
header .sub-menu li {
    padding:0;
}
header #main-menu {
    width:calc(300px - 24px);
}
header .menu-container {
    right:0 !important;
    border-radius:0 0 0 4px;
}
header #main-menu > li:last-child a {
    padding:10px;
    background-color:var(--can-secondary);
    color:white !important;
}
@media (min-width:768px) {
    header #main-menu {
        min-width:100% !important;
    }
    header #main-menu > li:first-child {
        padding-left:0;
    }
    header #main-menu > li {
        width:fit-content !important;
        white-space:nowrap !important;
    }
    header #main-menu > li > a {
        padding-bottom:0;
    }
    header .menu-item-has-children {
        padding-top:50px;
        padding-bottom:50px;
    }
    header .menu-item-has-children > .sub-menu {
        border-width:0;
    }
    header .menu-item-has-children {
        position:relative;
    }
    header .menu-item-has-children a {
        display:block !important;
    }
    header .sub-menu {
        position:absolute;
        top:36px;
        background-color:white;
        border-radius:0 0 4px 4px;
        box-shadow:1px 1px 1px rgba(5, 5, 5, .25);
        padding:0;
        width:140px;
        display:none;
        z-index:9;
    }
    header .menu-item-has-children:hover > .sub-menu {
        display:block;
        top:126px;
    }
    header .sub-menu li {
        padding:0 12px;
    }
}